
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "custom";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//Datatable

@import "~startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4";


//SB-Admin
@import "~startbootstrap-sb-admin/scss/sb-admin";
//@import "~startbootstrap-sb-admin/css/sb-admin";

